absl-py==2.1.0
aiohappyeyeballs==2.4.3
aiohttp==3.10.10
aiosignal==1.3.1
altair==5.3.0
amqp==5.1.0
annotated-types==0.6.0
anyio==4.3.0
asgiref==3.5.2
assemblyai==0.34.0
astunparse==1.6.3
async-timeout==4.0.2
attrs==24.2.0
Babel==2.14.0
backports.zoneinfo==0.2.1
base58==2.1.1
beautifulsoup4==4.12.3
billiard==3.6.4.0
bitarray==2.9.3
black==23.7.0
blinker==1.7.0
boto3==1.24.16
botocore==1.27.16
cachetools==5.3.1
celery==5.2.7
certifi==2023.7.22
cffi==1.15.1
cfgv==3.4.0
chardet==3.0.4
charset-normalizer==2.1.1
click==8.1.3
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
cloudfront-signed-cookies==1.0
contourpy==1.1.1
coreapi==2.3.3
coreschema==0.0.4
cryptography==40.0.2
cycler==0.12.1
cytoolz==0.12.3
deep-translator==1.11.4
Deprecated==1.2.13
distlib==0.3.7
distro==1.9.0
Django==4.1.3
django-celery-beat==2.4.0
django-cors-headers==3.7.0
django-debug-toolbar==4.0.0
django-extensions==3.1.3
django-health-check==3.17.0
django-modeladmin-reorder==0.3.1
django-rest-framework==0.1.0
django-rest-swagger==2.2.0
django-spa==0.3.5
django-sslserver==0.22
django-timezone-field==5.0
djangorestframework==3.12.4
djangorestframework-simplejwt==5.2.1
dnspython==2.6.1
drf-yasg==1.21.7
et-xmlfile==1.1.0
eth-abi==2.2.0
eth-account==0.5.9
eth-hash==0.7.0
eth-keyfile==0.5.1
eth-keys==0.3.4
eth-rlp==0.2.1
eth-typing==2.3.0
eth-utils==1.9.5
exceptiongroup==1.2.0
Faker==18.4.0
filelock==3.12.3
Flask==3.0.3
Flask-Cors==4.0.1
flatbuffers==24.3.25
flower==2.0.1
fonttools==4.54.1
frozenlist==1.4.1
gast==0.4.0
gitdb==4.0.11
GitPython==3.1.43
google-ai-generativelanguage==0.1.0
google-api-core==2.18.0
google-api-python-client==2.142.0
google-auth==2.23.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.0.0
google-generativeai==0.1.0rc1
google-pasta==0.2.0
google_search_results==2.4.2
googleapis-common-protos==1.63.0
googlesearch-python==1.2.4
googletrans==3.0.0
greenlet==1.1.2
grpcio==1.62.1
grpcio-status==1.62.1
gunicorn==20.1.0
h11==0.14.0
h2==3.2.0
h5py==3.11.0
hexbytes==0.3.1
hpack==3.0.0
hstspreload==2024.9.1
httpcore==1.0.6
httplib2==0.22.0
httpx==0.27.2
humanize==4.0.0
hyperframe==5.2.0
identify==2.5.27
idna==2.10
importlib_metadata==7.1.0
importlib_resources==6.4.5
inflection==0.5.1
InvoiceGenerator==1.1.0
ipfshttpclient==0.8.0a2
isort==5.12.0
itsdangerous==2.1.2
itypes==1.2.0
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.4.2
jsonschema==3.2.0
jsonschema-specifications==2023.12.1
keras==2.13.1
kiwisolver==1.4.7
kombu==5.2.4
libclang==18.1.1
lightgbm==4.5.0
lru-dict==1.3.0
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==2.1.1
matplotlib==3.7.5
mccabe==0.7.0
mdurl==0.1.2
MouseInfo==0.1.3
multiaddr==0.0.9
multidict==6.1.0
mypy-extensions==1.0.0
narwhals==1.9.3
netaddr==1.3.0
newrelic==9.3.0
nodeenv==1.8.0
numpy==1.24.3
oauthlib==3.2.2
openai==1.16.2
openapi-codec==1.3.2
opencv-python==4.10.0.84
openpyxl==3.1.4
opt_einsum==3.4.0
ordered-set==4.1.0
outcome==1.3.0.post0
packaging==23.1
pandas==2.0.3
parsimonious==0.8.1
pathspec==0.11.2
pdfkit==1.0.0
phonenumbers==8.13.30
pillow==10.2.0
pkgutil_resolve_name==1.3.10
platformdirs==3.10.0
pre-commit==3.4.0
progress==1.5
prometheus-client==0.13.1
prompt-toolkit==3.0.28
propcache==0.2.0
proto-plus==1.23.0
protobuf==3.20.3
psutil==5.9.0
psycopg2==2.8.6
psycopg2-binary==2.9.6
pyarrow==17.0.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
PyAudio==0.2.14
PyAutoGUI==0.9.54
pycodestyle==2.11.0
pycparser==2.21
pycryptodome==3.15.0
pydantic==2.6.4
pydantic_core==2.16.3
pydeck==0.9.1
pydub==0.25.1
pyflakes==3.1.0
pygame==2.6.0
PyGetWindow==0.0.9
Pygments==2.18.0
PyJWT==2.8.0
PyMsgBox==1.0.9
pynput==1.7.7
pyobjc-core==10.3.1
pyobjc-framework-ApplicationServices==10.3.1
pyobjc-framework-Cocoa==10.3.1
pyobjc-framework-CoreText==10.3.1
pyobjc-framework-Quartz==10.3.1
pyparsing==3.0.7
pyperclip==1.8.2
pypng==0.20220715.0
PyRect==0.2.0
pyrsistent==0.20.0
PyScreeze==0.1.30
PySocks==1.7.1
python-crontab==2.6.0
python-dateutil==2.8.2
python-decouple==3.6
pytweening==1.2.0
pytz==2022.1
pywhatkit==5.4
PyYAML==6.0.1
qrcode==7.4.2
qrplatba==1.1.1
redis==5.0.0
referencing==0.35.1
reportlab==4.1.0
requests==2.31.0
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
retrying==1.3.4
rfc3986==1.5.0
rich==13.9.2
rlp==2.0.1
rpds-py==0.20.0
rsa==4.9
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.6
rubicon-objc==0.4.8
s3transfer==0.6.0
scikit-learn==1.3.2
scipy==1.10.1
seaborn==0.13.2
selenium==4.24.0
serpapi==0.1.5
simplejson==3.17.6
six==1.16.0
slack_sdk==3.31.0
smmap==5.0.1
sniffio==1.3.1
sortedcontainers==2.4.0
sounddevice==0.5.0
soupsieve==2.5
SpeechRecognition==3.10.3
SQLAlchemy==1.4.36
sqlparse==0.4.4
streamlit==1.39.0
streamlit-lottie==0.0.5
stripe==7.0.0
Sublist3r==1.0
tenacity==9.0.0
tensorboard==2.13.0
tensorboard-data-server==0.7.2
tensorflow==2.13.0
tensorflow-estimator==2.13.0
tensorflow-macos==2.13.0
termcolor==2.4.0
threadpoolctl==3.5.0
toml==0.10.2
tomli==2.0.1
toolz==1.0.0
tornado==6.3.3
tqdm==4.66.2
trio==0.26.2
trio-websocket==0.11.1
ttkbootstrap==1.10.1
typing_extensions==4.5.0
tzdata==2022.6
uritemplate==4.1.1
urllib3==1.26.9
varint==1.0.2
vine==5.0.0
virtualenv==20.24.4
wcwidth==0.2.5
web3==5.25.0
websocket-client==1.8.0
websockets==9.1
Werkzeug==3.0.2
whitenoise==5.0.1
wikipedia==1.4.0
wkhtmltopdf==0.2
wrapt==1.14.0
wsproto==1.2.0
xgboost==2.1.1
xkcdpass==1.19.3
yarl==1.15.2
zcrmsdk==3.1.0
zipp==3.18.1
zohocrmsdk2-0==5.1.0
