body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}
.container {
    width: 80%;
    margin: 0 auto;
}
h1 {
    font-size: 36px;
    margin-top: 20px;
}
h2 {
    font-size: 18px;
    color: #666;
}
.description {
    font-size: 16px;
    margin: 20px 0;
}
.description a {
    color: #007BFF;
    text-decoration: none;
}
.description a:hover {
    text-decoration: underline;
}
.icons {
    margin: 20px 0;
}
.icons i {
    font-size: 24px;
    margin: 0 10px;
}
.language-select {
    margin: 20px 0;
}
.language-select select {
    padding: 5px;
    font-size: 16px;
}
.like-button {
    margin: 20px 0;
}
.like-button iframe {
    border: none;
    overflow: hidden;
    width: 450px;
    height: 35px;
}
.tabs {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}
.tabs div {
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-bottom: none;
    cursor: pointer;
}
.tabs .active {
    background-color: #f1f1f1;
    border-top: 2px solid #007BFF;
}
.calculator {
    border: 1px solid #ccc;
    padding: 20px;
    text-align: left;
    margin: 0 auto;
    width: 60%;
}
.calculator h3 {
    font-size: 18px;
    margin-bottom: 20px;
}
.calculator img {
    vertical-align: middle;
    margin-right: 10px;
}
.calculator table {
    width: 100%;
    margin-bottom: 20px;
}
.tabs a {
    text-decoration: none;
}

.back-to-home {
    margin: 20px 0; /* Adjust margin to control spacing */
    padding: 10px; /* Padding for internal spacing */
    display: flex; /* Ensure it's inline with other elements */
    width: auto; /* Remove fixed width and height to allow flexibility */
    height: auto;
}
.back-to-home a {
    text-decoration: none; /* Remove underline from link */
}
.back-to-home i {
    font-size: 24px; /* Adjust icon size */
    color: #000; /* Icon color */
}

.calculator table td {
    padding: 5px;
}
.calculator table input,
.calculator table select {
    width: 100%;
    padding: 5px;
    font-size: 16px;
}
.calculator .calculate-button {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}
.calculator .calculate-button:hover {
    background-color: #218838;
}
.result {
    background-color: #f1f1f1;
    padding: 10px;
    margin: 20px 0;
    text-align: center;
}
.result span {
    font-weight: bold;
}
.navigation-buttons {
    display: flex;
    justify-content: space-between;
}
.navigation-buttons button {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}
.navigation-buttons button:hover {
    background-color: #218838;
}



.footer {
    font-size: 12px;
    color: #666;
    margin: 20px 0;
}
.footer a {
    color: #00f;
    text-decoration: none;
}
.footer a:hover {
    text-decoration: underline;
}